<nav class="navbar navbar-default ">
	<div class="container-fluid">
		<div class="nav secondary-nav navbar-right homepage">
			<% if session["current_user"] %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="username"><strong><%=session["username"] %></strong></span>
			 <a href="/songs/new_song" class="btn btn-default add-song-button"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Add song</a>
	  </div>
	 <a class="navbar-brand" href="/homepage"><img alt="brand"src="skateboard_brand.png"></a>
	  <a href="/songs" class="btn btn-default left-button">Song Wall</a>


	  <a href="/logout" class="btn btn-default navbar-btn left-button">Logout</a>

	</div>
</nav>

<!-- <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search song">
  </div>
  <a href="x" class="btn btn-default">Now</a>
</form> -->

<% end %>

