<% if session["current_user"] %>
<h1><center>Hey <%=session["username"] %> !</center></h1>

<nav class="navbar navbar-inverse">
	<div class="btn-group btn-group-justified" role="group" aria-label="...">


	  <div class="btn-group" role="group">
	    <a href="/songs" class="btn btn-default">Song Wall</a>
	  </div>


	  <div class="btn-group" role="group">
	    <a href="/logout" class="btn btn-default navbar-btn">Logout</a>
	  </div>


	  <div class="btn-group" role="group">
	    <a href="/songs/new_song" class="btn btn-default">Add song</a>
	  </div>
	</div>
	
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search song">
  </div>
  <a href="x" class="btn btn-default">Now</a>
</form>
</nav>


<% end %>

