<% @songs.each do |song| %>

	<div class="song">
		<h3> <a href="/songs/<%= song.id %>"><%= song.title.capitalize %></a> <small><%= song.author.capitalize %></small> </h3>
		<a href=  "<%= song.url %>">Link to Video </a>
	</div>

	<div class="btn-group" role="group" aria-label="...">

  <a href="/songs/new_song" class="btn btn-default">Add song</a>

  <a href="/homepage" class="btn btn-default">Back to home</a>

  <a href="/songs/delete" class="btn btn-default">Nah, delete</a>

</div>

<% end %>