<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="/"><img alt="brand"src="skateboard_brand.png"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="nav navbar-nav navbar-right">
				<a href="/login" class="btn btn-default">Login</a>
				
				<a href="/sign_up" class="btn btn-default">Sign Up</a>
			</div>
		</div>
	</div>
	
</nav>
<h1 id="index_h1">JAMS FOR SKATE</h1>
<h3 id="index_h3">Your go to source for your skate session jams</h3>
<p>VIDEO GOES HERE</p>
<!-- <video preload autoplay muted >
	<source src="https://youtu.be/0r_GpiUwzl8" type="video/mp4">
</video> -->

<!-- 
	<% if session["current_user"] %>
		<h4>You logged in Successfully and Your session is created.
		<h6>Your username is: <%=session["user_name"]%>
		<br> -->
	<!-- 	<a href="/sign_out">Sign out</a>
	<% end %> -->