
<a href="/login" class="btn btn-default navbar-btn navbar-inverse">Login</a>
<a href="/sign_up" class="btn btn-default navbar-btn navbar-inverse">Sign Up</a>
<h1>Home Page</h1>

<!-- <form action="/login" method="get">
	<button type="submit" class="btn btn-default navbar-btn navbar-inverse">Login</button>
</form> -->
