<a href="/login" class="btn btn-default navbar-btn navbar-inverse">Login</a>
<a href="/sign_up" class="btn btn-default navbar-btn navbar-inverse">Sign Up</a>
<h1>Home Page</h1>

<!-- 
<% if session["current_user"] %>
	<h4>You logged in Successfully and Your session is created.
	<h6>Your username is: <%=session["user_name"]%>
	<br> -->
<!-- 	<a href="/sign_out">Sign out</a>
<% end %> -->

